@font-face {
  font-family: "Proxima nova";
  src: url("./fonts/proximanova_regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima nova";
  src: url("./fonts/proximanova_bold.otf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Proxima nova";
  background-color: var(--gray-100);
}

:root {
  --yellow: #ffe600;
  --gray-900: #333333;
  --gray-600: #666666;
  --gray-400: #999999;
  --gray-100: #eeeeee;
  --blue: #3483fa;

  --spacing-m: 1.6rem;
  --spacing-l: 3.2rem;
  --spacing-xl: 5rem;

  --font-size-100: 1.2rem;
  --font-size-200: 1.4rem;
  --font-size-300: 1.6rem;
  --font-size-400: 1.8rem;
  --font-size-500: 2.4rem;
  --font-size-600: 2.8rem;
  --font-size-700: 4.6rem;

  --radius: 0.4rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
